<div class="row">
  <div class="col-sm-9">
    <div class="form-group">
      <input type="text" class="form-control" [formControl]="search" placeholder="Search Pokemon">
    </div>
  </div>
  <div class="col-sm-3">
    <button class="btn btn-info" style="width: 100%" (click)="Search()">Search</button>
  </div>
</div>

<div style="overflow: auto;height:450px;">
  <div class="responsive" *ngFor="let pokemon of pokemons">
    <div class="gallery">
      <a target="_blank" (dblclick)="openModel(content, pokemon.name)">
        <img src="https://img.pokemondb.net/artwork/{{ pokemon.name }}.jpg" height="130px" width="130px" />
      </a>
      <div class="desc">{{ pokemon.name }}</div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      {{ selectedPokemon.name }}
    </h4>
    <div>
      Type:
      <span *ngFor="let type of selectedPokemon.types">
        {{ type.type.name }}
      </span>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4">
        <img src="https://img.pokemondb.net/artwork/{{ selectedPokemon.name }}.jpg" width="250px" />
      </div>
      <div class="col-md-8" style="overflow: auto;height:300px;;">
        <ngb-accordion [closeOthers]="true" activeIds="static-1">
          <ngb-panel id="static-1" title="Profile">
            <ng-template ngbPanelContent>
              <div class="row">
                <div class="col-sm-4">
                  Height : {{ selectedPokemon.height }}
                </div>
                <div class="col-sm-4">
                  Weight : {{ selectedPokemon.weight }}
                </div>
                <div class="col-sm-4">
                  Base Exp: {{ selectedPokemon.base_experience }}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <div *ngIf="selectedPokemonSpeciesData && selectedPokemonSpeciesData.egg_groups">
                    Egg group :
                    <span *ngFor="
                    let eggGroup of selectedPokemonSpeciesData.egg_groups;
                    index as i
                  ">{{ eggGroup.name }}
                      <span *ngIf="
                      i != selectedPokemonSpeciesData.egg_groups.length - 1
                    ">,</span>
                    </span>
                  </div>
                </div>

                <div class="col-sm-6" *ngIf="selectedPokemonSpeciesData && selectedPokemonSpeciesData.habitat && selectedPokemonSpeciesData.habitat.name">
                  Habitat : {{ selectedPokemonSpeciesData.habitat.name }}
                </div>
              </div>
              <hr>
              <div *ngIf="selectedPokemon && selectedPokemon.stats">
                <table class="tbl">
                  <tr *ngFor="let stat of selectedPokemon.stats">
                    <td>{{ stat.stat.name }}</td>
                    <td style="width: 75%;padding-top:20px; ">
                      <p>
                        <ngb-progressbar showValue="true" type="success" [value]="stat.base_stat"></ngb-progressbar>
                      </p>
                    </td>
                  </tr>
                </table>
              </div>
            </ng-template>
          </ngb-panel>

          <ngb-panel id="static-2" title="Damage When Attacked">
            <ng-template ngbPanelContent>
              <div *ngIf="selectedPokemonTypesData">
                <div class="row">
                  <div class="col-md-4">
                   Double Damage <hr>
                    <div *ngFor="let type of selectedPokemonTypesData">
                      <div *ngFor="let damage of type.damage_relations.double_damage_from">
                           {{damage.name}}
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                      Half Damage <hr>
                    <div *ngFor="let type of selectedPokemonTypesData">
                      <div *ngFor="
                          let damage of type.damage_relations.half_damage_from
                        ">
                        {{ damage.name }}
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>
            </ng-template>
          </ngb-panel>

          <ngb-panel title="Evolution">
            <ng-template ngbPanelContent>
              <div *ngIf="selectedPokemonEvolution">


                <div class="responsive" *ngFor="let evolution of selectedPokemonEvolution">
                  <div class="gallery">
                    <a target="_blank" (dblclick)="openModel(content, pokemon.name)">
                      <img src="https://img.pokemondb.net/artwork/{{
                            evolution.species.name
                          }}.jpg" width="100px" height="100px" /> </a>
                    <div class="desc"> {{ evolution.species.name }}
                    </div>
                  </div>
                </div>


              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
      Close
    </button>
  </div>
</ng-template>
